<script src="/js/chatapp.js"></script>
<script src="/dist/lodash/lodash.js"></script>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Messages</h3>
    </div>

    <table class="issueSummaryTab">
        <tr>
            <th class="narrowCol"></th>
            <th>Message</th>
            <th>From</th>
            <th class="narrowCol">Icon</th>
        </tr>
        {{#messages}}
        <tr>
            <td class="narrowCol"> <button id="btnDelMsg" class="button black" title="Delete chat message." onclick="delMessage({{id}});">x</button> &nbsp;</td>
            <td class="msgEntry">{{text}}</td>
            <td class="msgEntry">{{userName}}</td>
            <td class="narrowCol">{{icon}}</td>
        </tr>
        {{/messages}}
    </table>
    <div> &nbsp; </div>

    <div>
        <input type="text" id="ChatInput" placeholder="Input new chat message here" autofocus onkeydown="if(event.key==='Enter'){newMessage()}">
        <input type="checkbox" id="Pollute"  title='Pollute the prototype'> Pollute with:
        <input type="text" id="PolluteString" value='"__proto__":{"canDelete": "true"}'>
    </div>
    <br/> <br/> 
<div>
<hr/>
<pre>
chatusers[0].canDelete: {{user_canDelete}}

Object.canDelete: {{object_canDelete}}

chatusers: {{chatusers}}

messages: {{msgs}}
</pre>
</div>
</div>
